{% extends 'base.html.twig' %}
{% block title %}Editar Bebida{% endblock %}
{% block body %}
    <h1>Editar Bebida</h1>
    {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(formulario.nombre) }}
        {{ form_row(formulario.tipo) }}
        {{ form_row(formulario.alergenos) }}
        {{ form_row(formulario.cafeteria) }}

        <button> Guardar cambios</button>
        <a href="{{ path('inicio') }}"> Cancelar</a>
    {{ form_end(formulario) }}    
{% endblock %}